/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
}
li {
    list-style-type: none;
}
a{
	text-decoration: none;
	color: black;
}
.card{
	background-color: #CCCCCC;
	text-align: center;
	position: absolute;
	padding: 20px;
	width: 90%;
}
.list{
	background-color: white;
	padding: 10px;
	text-align: left;
	border: 2px solid black;
	border-radius: 5px;
}
.div>video-audio{
	content-align: center;
}
.video-audio{
	content-align: center;
	border: 2px black solid;
	padding: 10px;
	background-color: white;
	padding-top: 10px;
	border-radius: 5px;
	width: 68%;
}
h1, h3, h4{
	
}
h4{
	text-align: left;
}